{{#each posts as |post|}}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title"><a href='/post/{{id}}'>{{title}}</a></h5>
        <p class="card-text" id="card-details">Posted by: {{user.username}} on {{format_date post.date_created}} </p>
        <br>
        <p class="card-text">{{content}}</p>
    </div>
</div>

{{/each}}